body {
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100vw;
}

div.container {
  font-size: 1em;
  margin: 80px auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  max-width: 1200px;
  background-color: cadetblue;
}
/* 
.btn {
  padding: 0.4em 1em;
  border: 1px solid gray;
  border-radius: 0.5em;
  background: linear-gradient(#fff, #ddd);
  text-decoration: none;
  color: black;
  display: inline-block;
}

.btn:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  background: #ccc;
}
 */