body {
  top: 0;
  margin: 0;
  width: 100vw;
  height: 100vw;
}

div.container {
  font-size: 1em;
  margin: 80px auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  max-width: 1200px;
  background-color: cadetblue;
}

.top {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  height: 20px;
  background: #f2f2f2;
}

.top_link {
  color: #000;
  margin: 0 20px;
  text-decoration: none;
}

.top_link:hover {
  text-decoration: underline;
}

.nav, .top {
  padding-top: 13px;
  width: 100vw;
  height: 40px;
}

.nav_img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav_title {
  margin-top: 10px;
  font-size: 30px;
  float: left;
  text-decoration: none;
  color: #000;
}

.nav_text {
  margin-bottom: 30px;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #000;
}

.nav_left {
  float: left;
  margin-left: 10vw;
}

.nav_right {
  float: right;
  margin-right: 10vw;
  margin-top: 15px;
}

.navM_right {
  float: right;
  margin-right: 5vw;
  margin-top: 15px;
}

.navM_left {
  float: left;
  margin-left: 5vw;
}

.nav_link {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}

.test {
  border-radius: 30% 70% 30% 15%;
  border-radius: 10% 30% 20% 80%;
}

.round {
  height: 400px;
  padding: auto;
  padding-top: 20px;
  width: 25%;
  background: #8080c0;
  border-radius: 0% 80px 0% 0%;
  z-index: 2;
}

.round > h1 {
  font-size: 3em;
  text-align: center;
}

.round > a {
  font-size: 2em;
  text-align: center;
}

/* 
a.btn {
  margin: auto;
  text-align: center;
  vertical-align: middle;
} */

.btn_link {
  width: 20%;
  padding: 10px;
  margin: 10px;
  background-color: cornflowerblue;
  border-radius: 25px;
  border: 1px solid #000;
}
