body {
  top: 0;
  margin: 0;
  width: 100vw;
}

main {
  font-size: 1em;
  margin: 80px auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  max-width: 1200px;
}

.top {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  height: 20px;
  background: #f2f2f2;
}

.top_link {
  color: #000;
  margin: 0 20px;
  text-decoration: none;
}

.top_link:hover {
  text-decoration: underline;
}

.nav,
.top {
  padding-top: 13px;
  width: 100vw;
  height: 40px;
}

.nav {
  margin-bottom: 20px;
}

.nav_img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav_title {
  margin-top: 10px;
  font-size: 30px;
  float: left;
  text-decoration: none;
  color: #000;
}

.nav_text {
  margin-bottom: 30px;
  font-size: 22px;
  float: left;
  text-decoration: none;
  color: #000;
}

.nav_left {
  float: left;
  margin-left: 10vw;
}

.nav_right {
  float: right;
  margin-right: 10vw;
  margin-top: 15px;
}

.navM_right {
  float: right;
  margin-right: 5vw;
  margin-top: 15px;
}

.navM_left {
  float: left;
  margin-left: 5vw;
}

.nav_link {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}

.round {
  height: 400px;
  padding: auto;
  padding-top: 20px;
  width: 25%;
  background: #8080c0;
  border-radius: 0% 80px 0% 0%;
  z-index: 2;
}

.round > h1 {
  font-size: 3em;
  text-align: center;
}

.round > a {
  font-size: 2em;
  text-align: center;
}

.btn {
  margin: 50px 0;
}

button {
  background-color: rgb(251, 251, 251);
  width: 22%;
  padding: 15px;
  margin: 10px;
  margin-bottom: 10px;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:hover {
  cursor: pointer;
}

button > p {
  font-size: 1.5em;
  margin: 10px;
}

.material-symbols-outlined {
  font-size: 80px;
  color: #2a6bc0;
  display: block;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}
