.cal_notice {
  width: 100%;
  display: inline-flex;
  margin-top: 150px;
}

.idx_notice {
  vertical-align: middle;
  margin-left: 50px;
  width: 70%;
  text-align: left;
  font-size: 0.9em;
}

/* notice.jsp */
.notice {
  vertical-align: middle;
  text-align: left;
  font-size: 1.2em;
}

.idx_notice ul,
.notice ul {
  list-style: none;
}

.idx_notice_pin_line,
.notice_pin_line > .material-symbols-outlined {
  margin-left: 10px;
  color: brown;
}

.idx_notice li,
.notice li {
  margin-bottom: 15px;
  padding: 7px;
  background-color: rgb(244, 244, 244);
  border-radius: 7px;
}

.idx_notice a,
.idx_notice_line a,
.notice a,
.notice_line a {
  text-decoration: none;
  color: #000;
}

.idx_notice_title,
.notice_title {
  padding: 20px;
  margin: 20px 0;
}

.idx_notice_writer,
.idx_notice_date,
.notice_writer,
.notice_date {
  float: right;
  margin-right: 30px;
}

.idx_hr {
  padding: 0;
  /* border: rgb(19, 85, 139) 0.1px solid; */
  /* border: rgb(221, 221, 221) 0.1px solid; */
}

.v-line {
  margin-left: 50px;
  border-left: 1px solid #bbbbbb;
}

.n_notice_title {
  font-size: 2.2em;
  margin-bottom: 40px;
  text-align: center;
}

.notice > .p_line > span,
a span {
  font-size: 1.3em;
  font-weight: 500;
}

.notice_info {
  margin-bottom: 50px;
}

.notice_content {
  padding: 30px;
  text-align: left;
  font-size: 1.3em;
}
